.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.navLink, .navLink:hover   {
    text-decoration: none;
    margin: 0 10px;
    text-decoration: none;
    color: azure;
}

.button {
    margin-bottom: 30px;
}

.badge {
    padding: 10px;
}