.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.navLink,
.navLink:hover {
  margin: 0 10px;

  color: gray;
}

.button {
  margin-bottom: 30px;
}

.badge {
  padding: 10px;
}
